@{
    ViewBag.Title = "Admin Registered Users List Page";
    Layout = "_AdminLayout";
}


@using DGSWeb.ViewModels
@using Microsoft.AspNetCore.Identity
@using Generic.Data.Models;
@model AdminUsersListModel

@inject UserManager<ApplicationUser> userManager;

<div>

    @if (Model == null)
    {
        <!--Content-->
        <div class="" style="padding-top:100px; padding-bottom:500px;">
            <div class="d-flex justify-content-center ">

                <center>

                    <h2>No Vendors Registered</h2>
                    <a class="btn btn-secondary mt-5" asp-controller="Admin" asp-action="Index">Return </a>
                </center>
            </div>
        </div>
    }
    else
    {
        <div>
            <div style="display:none;">
                <div class="card-body">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="myAreaChart" width="1080" height="323" style="display: block; height: 259px; width: 864px;" class="chartjs-render-monitor"></canvas>
                </div>

                <div class="col-sm-8 my-auto">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="myBarChart" width="447" height="223" class="chartjs-render-monitor" style="display: block; height: 179px; width: 358px;"></canvas>
                </div>
                <div class="card-body">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="myPieChart" width="300" height="300" class="chartjs-render-monitor" style="display: block; height: 240px; width: 240px;"></canvas>
                </div>
            </div>


            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Email</th>
                        <th>Email Confirmed</th>
                        <th>Phone Number</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        @*<th>Company Reg Number</th>
                            <th>Contact Person Name</th>
                            <th>Contact Person Phone</th>
                            <th>Approval Status</th>*@
                        @*<th><a class="btn btn-sm btn-warning text-white" asp-controller="Admin" asp-action="Index"></a></th>*@
                        @*<th></th>
                            <th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.ApplicationUserList)
                    {
                        var userRoles = @userManager.GetRolesAsync(user).Result;

                        <tr>

                            <td>@user.CompanyName</td>
                            <td>@user.Email</td>
                            <td>@user.EmailConfirmed</td>
                            <td>@user.PhoneNumber</td>

                            <td>
                                @foreach (var role in userRoles)
                                {
                                    <span>@role,</span>
                                    
                                }

                            </td>
                           
                            <td><a class="btn btn-sm text-white" style="background-color:limegreen;" asp-controller="Admin" asp-action="MakeAdmin" asp-route-email="@user.Email">Make Admin</a></td>
                            <td><a class="btn btn-sm text-white" style="background-color:firebrick;" asp-controller="Admin" asp-action="MakeModerator" asp-route-email="@user.Email">Make Moderator</a></td>
                            @*<td>@user.MainContactPersonName</td>
                                <td>@user.MainContactPersonPhone</td>*@

                            @*<td><div class="btn-outline-dark pl-3">Pending</div></td>
                                <td><div class="btn-success pl-3">Approved</div></td>
                                <td><div class="btn-danger pl-2">Disapproved</div></td>*@

                            @*<td><a class="btn btn-sm btn-info" asp-controller="Admin" asp-action="Index">Return </a></td>*@
                            @*<td><a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="Update" asp-route-id="@vendor.VendorApprovalId">Edit</a></td>
                                <td><a id="confirm" class="text-white element btn btn-danger" data-id="@vendor.VendorApprovalId" data-target="deleteModal" data-toggle="modal"> Delete</a></td>*@
                        </tr>
                    }


                </tbody>
            </table>

        </div>
    }
</div>



